# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
millikan_env/
venv/
env/

# OS
.DS_Store

# Large Media Files (GitHub limit > 100MB)
# 排除所有超过 100MB 的文件
密立根实验测试视频/3/166下.mp4
密立根实验测试视频/2/test-vid.MOV
密立根实验测试视频/2/166下.mp4
